@font-face {
  font-family: 'ankhSanctuary';
  src: url('../../assets/ankh-sanctuary-font/AnkhSanctuary-nROx4.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'neuroPol';
  src: url('../../assets/neuropol-x-free/neuropol\ x\ rg.otf');
  font-weight: 400;
  font-style: normal;
}

body,
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-family: neuroPol, sans-serif;
  font-weight: 400;
  margin: 0;
}

h1,
h3,
h3,
h4,
h5 {
  margin: 0;
}

.logo-text {
  font-family: ankhSanctuary, sans-serif;
  font-weight: 400;
}

.progressbar {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 13px;
  padding: 2px 2px 2px 3px;
  /* margin-top: auto; */
  display: flex;
  align-items: center;
}

.progressbar > div {
  /* background-color: orange; */
  height: 3px;
  border-radius: 10px;
}
