.main {
  background: url('https://images.unsplash.com/photo-1613771404721-1f92d799e49f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2938&q=80')
    rgba(0, 0, 0, 0.8);
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-blend-mode: multiply;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  color: #fff;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  color: #fff;
  margin-bottom: 30px;
}

.logo h2 {
  font-size: 48px;
}

.input_wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_wrapper > input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 30%;
  height: 40px;
  text-indent: 16px;
  font-family: neuroPol, sans-serif;
  font-size: 14px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  color: #faf9f6;
}

.input_wrapper > input:focus {
  outline: none;
}

.input_wrapper > input::placeholder {
  font-family: neuroPol, sans-serif;
  font-size: 10px;
}

.selection_list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  height: 40px;
  width: 40%;
  border-radius: 4px;
  padding: 6px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  color: #faf9f6;
  cursor: pointer;
}

.selection_list > .selected_item {
  height: 100%;
  width: 50%;
  border-radius: 4px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  background: #1e3630;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection_list > .item {
  height: 100%;
  width: 50%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection_list > .item > p,
.selection_list > .selected_item > p {
  font-size: 12px;
}

.display_flex {
  display: flex;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.stats_container {
  width: 28%;
  height: 300px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 10px;
}
.stats_container > h2 {
  font-family: neuroPol, sans-serif;
  color: #fff;
  font-size: 14px;
}

.stats_container_inner {
  margin-top: 10px;
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.stats_container_inner_card {
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-between;
  text-align: center;
}

.stats_container_inner_card > p {
  color: #fff;
  font-size: 14px;
}
.container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_list {
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 15px;
}

.container_list_inner {
  width: 100%;
  height: 400px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 10px;
}

.container_list_inner > input {
  width: 200px;
  height: 30px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  background: rgba(113, 113, 113, 0.753);
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-family: neuroPol, sans-serif;
  color: #fff;
  font-size: 10px;
}

.container_list_inner > input:focus {
  outline: none;
}
.container_list_inner > input::placeholder {
  font-family: neuroPol, sans-serif;
  font-size: 10px;
  color: #eee;
}

.container_list_title {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

.container_list_inner_header {
  width: 100%;
  height: 30px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px 4px 0 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-left: 15px;
  color: #faf9f6;
}

.container_list_inner_content {
  height: 300px;
  overflow: scroll;
}

.container_list_inner_content > p {
  padding: 15px;
  color: #faf9f6;
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.container_list_inner_content > p:hover {
  background: #1e3630;
  border: 1px solid #3f7869;
  transition: 0.2s ease-in;
}
/* media queries */

@media only screen and (max-width: 600px) {
  .input_wrapper > input {
    width: 90%;
  }

  .selection_list {
    width: 90%;
  }

  .container {
    width: 90%;
  }
}

.active_char {
  background: #1e3630;
  border: 1px solid #3f7869;
}

.card_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
